body {
  background-color: #2600ff !important;
 

  font-family: 'Arial', sans-serif;

}





img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#COMPUTERBG {
  background-color: #94AF9F;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rpng {
  width: 200px;
  height: 200px;
}
#ppng {
  width: 200px;
  height: 200px;
}
#spng {
  width: 200px;
  height: 200px;
}


#scissors {
  border: none;
cursor: pointer;
border: none;
background-color: transparent;
height: 210px;
width: 220px;
}

#paper {
  border: none;
cursor: pointer;
background-color: transparent;
height: 210px;
width: 220px;
}

#rock {
  border: none;
cursor: pointer;
background-color: transparent;
height: 210px;
width: 220px;
}




/* MADLIB CSS */


#madlib {
  width: 90%;
  height: 15%;
  margin: 0 auto;
}

.mirolla {
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 90%;
  font-family: 'Rubik Doodle Shadow', system-ui;
}


#madLibOutput {
  text-align: center;

}

#scoreboard {
  text-align: center;
}